#### 함수(function, 기능)

In [ ]:
# 함수 정의
def 함수명(매개변수):
    함수의 기능(수행 코드)
    return 반환변수(반환결과)

In [4]:
# 더하기 기능
# 매개변수 2개 : 숫자 2개
# 더하는 수행 코드
# 더해진 결과반환
def number_sum(num1,num2):
    return num1+num2

In [6]:
# 함수사용법
# 함수를 불러야함(호출)
num1 = 3 
num2 = 10
number_sum(num1,num2)

13

In [7]:
def number_sub(a,b):
    return a-b
num1 = int(input('첫번째 정수 입력>>> '))
num2 = int(input('두번째 정수 입력>>> '))
result = number_sub(num1,num2)
print(result)

첫번째 정수 입력>>> 10
두번째 정수 입력>>> 3
7

In [10]:
def s_replace(s):
    """ㅋ을 제거하는 기능(함수)"""
    return s.replace('ㅋ','')
    
s = input('문자열 입력>>>')
result = s_replace(s)
result

문자열 입력>>>ㅇ남읔ㅋㅋㅋㅋㅋㅋ

'ㅇ남읔'

가변 매개변수

In [ ]:
# 함수를 정의할때, 변수 개수가 몇개인지 모름
def 함수명(*매개변수):
    실행문장
    return 반환변수

In [11]:
# 가변매개변수 가진 함수정의
def test(*args):
    print(args)

In [16]:
# test 사용(호출)
test(1)
test(1,2,3,4,5)

(1,)
(1, 2, 3, 4, 5)

In [18]:
# 가변 매개변수 활용하여 더하는 기능 함수 정의
# sum() 함수 이용
# * 별, 아스타리크
def add(*a):
    return sum(a)
    
add(1,2,3,4,5)

15

In [19]:
# sum(데이터)
sum((1,2,3))
sum([1,2,3,4])

10

In [20]:
# add함수호출
add(1,2,3,4,5,6,7,8)

36

매개변수 기본값 설정

In [21]:
# 지수 연산하는 함수
# 정의
def power_of_N(num,power=2):
    return num**power

In [25]:
# 함수 호출
power_of_N(3)

9

return 정리

In [ ]:
# 1. return 함수 안에서 한번만 실행
# 2. return 을 만나면 함수 끝남
# 3. return result,result2

In [26]:
def add_sub(num1,num2):
    return num1+num2, num1-num2

In [29]:
add, sub = add_sub(10,7)
print(add,sub)

17 3

함수의 4가지 형태

In [30]:
# 1, 매개변수x, return x
def hi():
    print('안녕~~~')

In [32]:
a = hi()
print(a)

안녕~~~
None

In [34]:
# 2. 매개변수x, retrun o
def hi2():
    return '안녕~~~'

In [37]:
b = hi2()
print(b)

안녕~~~

In [38]:
# 3. 매개변수o, return x
def hi3(name):
    print(f'{name} 안녕~~~')

In [40]:
hi3('현민')

현민 안녕~~~

In [41]:
# 4. 매개변수o, return o
def hi4(name):
    return f'{name} 안녕~~~'

In [1]:
c = hi4('현민')
print(c)

NameError: name 'hi4' is not defined

In [2]:
list1 = [1,2,3,4]
list1.count