In [1]:
import pandas as pd
import requests as req
from bs4 import BeautifulSoup as bs

### 한달동안의 영화랭킹 데이터 가져오기

In [19]:
title_list = []
point_list = []
cnt_list = []
day_list = []

for day in range(20211101,20211131):
    url = 'https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date='+str(day)
    res = req.get(url)
    soup = bs(res.text, 'lxml')
    result = soup.select('div.tit5 a')
    point = soup.select('td.point')
    
    for i in range(len(result)):
        title_list.append(result[i].text)
        point_list.append(point[i].text)
        cnt_list.append(i+1)
        day_list.append(day)

In [20]:
dic = {'영화명': title_list, '평점':point_list, '순위':cnt_list, '날짜':day_list}
df=pd.DataFrame(dic)
df.set_index('순위', inplace = True)
df

                 영화명    평점        날짜
순위
1               그린 북  9.59  20211101
2               자산어보  9.34  20211101
3                 코다  9.26  20211101
4           부활: 그 증거  9.24  20211101
5                 기적  9.22  20211101
..               ...   ...       ...
28              애비규환  6.90  20211130
29           장르만 로맨스  6.66  20211130
30                강릉  6.38  20211130
31  베놈 2: 렛 데어 비 카니지  6.11  20211130
32              이터널스  5.57  20211130

[1172 rows x 3 columns]

In [21]:
df[df['날짜'] ==20211101]

                                   영화명    평점        날짜
순위
1                                 그린 북  9.59  20211101
2                                 자산어보  9.34  20211101
3                                   코다  9.26  20211101
4                             부활: 그 증거  9.24  20211101
5                                   기적  9.22  20211101
6                                고장난 론  9.22  20211101
7   극장판 짱구는 못말려: 격돌! 낙서왕국과 얼추 네 명의 용사들  9.22  20211101
8                        꽃다발 같은 사랑을 했다  9.09  20211101
9                       라스트 듀얼: 최후의 결투  9.07  20211101
10                         타오르는 여인의 초상  9.06  20211101
11                                윤희에게  8.97  20211101
12                                더 파더  8.95  20211101
13                        바르다가 사랑한 얼굴들  8.89  20211101
14                       천로역정: 천국을 찾아서  8.85  20211101
15                             리틀 포레스트  8.83  20211101
16                             너의 이름은.  8.80  20211101
17                            고양이를 부탁해  8.79  20211101
18                              가을의 전설  8.67  20211101
19                                 보이스  8.53  20211101
20                               노매드랜드  8.47  20211101
21                              블랙 위도우  8.46  20211101
22                                모가디슈  8.33  20211101
23                                  메기  8.30  20211101
24                                그래비티  8.30  20211101
25                              언어의 정원  8.17  20211101
26                              날씨의 아이  7.96  20211101
27                                   듄  7.74  20211101
28                              홀리 모터스  7.51  20211101
29                              그린 나이트  7.49  20211101
30                                 수색자  7.27  20211101
31                       007 노 타임 투 다이  6.82  20211101
32                    지푸라기라도 잡고 싶은 짐승들  6.62  20211101
33                        샹치와 텐 링즈의 전설  6.60  20211101
34                           용과 주근깨 공주  6.57  20211101
35                                 싱크홀  6.49  20211101
36                         지금은맞고그때는틀리다  6.47  20211101
37                             노회찬6411  6.32  20211101
38                    베놈 2: 렛 데어 비 카니지  6.12  20211101
39                                  반도  5.64  20211101

### Pandas 활용하여 날짜 생성

In [4]:
date = pd.date_range(start='2021-01-01', end='2021-11-30')
date

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-11-21', '2021-11-22', '2021-11-23', '2021-11-24',
               '2021-11-25', '2021-11-26', '2021-11-27', '2021-11-28',
               '2021-11-29', '2021-11-30'],
              dtype='datetime64[ns]', length=334, freq='D')

In [5]:
for i in date:
    print(i)

2021-01-01 00:00:00
2021-01-02 00:00:00
2021-01-03 00:00:00
2021-01-04 00:00:00
2021-01-05 00:00:00
2021-01-06 00:00:00
2021-01-07 00:00:00
2021-01-08 00:00:00
2021-01-09 00:00:00
2021-01-10 00:00:00
2021-01-11 00:00:00
2021-01-12 00:00:00
2021-01-13 00:00:00
2021-01-14 00:00:00
2021-01-15 00:00:00
2021-01-16 00:00:00
2021-01-17 00:00:00
2021-01-18 00:00:00
2021-01-19 00:00:00
2021-01-20 00:00:00
2021-01-21 00:00:00
2021-01-22 00:00:00
2021-01-23 00:00:00
2021-01-24 00:00:00
2021-01-25 00:00:00
2021-01-26 00:00:00
2021-01-27 00:00:00
2021-01-28 00:00:00
2021-01-29 00:00:00
2021-01-30 00:00:00
2021-01-31 00:00:00
2021-02-01 00:00:00
2021-02-02 00:00:00
2021-02-03 00:00:00
2021-02-04 00:00:00
2021-02-05 00:00:00
2021-02-06 00:00:00
2021-02-07 00:00:00
2021-02-08 00:00:00
2021-02-09 00:00:00
2021-02-10 00:00:00
2021-02-11 00:00:00
2021-02-12 00:00:00
2021-02-13 00:00:00
2021-02-14 00:00:00
2021-02-15 00:00:00
2021-02-16 00:00:00
2021-02-17 00:00:00
2021-02-18 00:00:00
2021-02-19 00:00:00
2021-02-20 00:00:00
2021-02-21 00:00:00
2021-02-22 00:00:00
2021-02-23 00:00:00
2021-02-24 00:00:00
2021-02-25 00:00:00
2021-02-26 00:00:00
2021-02-27 00:00:00
2021-02-28 00:00:00
2021-03-01 00:00:00
2021-03-02 00:00:00
2021-03-03 00:00:00
2021-03-04 00:00:00
2021-03-05 00:00:00
2021-03-06 00:00:00
2021-03-07 00:00:00
2021-03-08 00:00:00
2021-03-09 00:00:00
2021-03-10 00:00:00
2021-03-11 00:00:00
2021-03-12 00:00:00
2021-03-13 00:00:00
2021-03-14 00:00:00
2021-03-15 00:00:00
2021-03-16 00:00:00
2021-03-17 00:00:00
2021-03-18 00:00:00
2021-03-19 00:00:00
2021-03-20 00:00:00
2021-03-21 00:00:00
2021-03-22 00:00:00
2021-03-23 00:00:00
2021-03-24 00:00:00
2021-03-25 00:00:00
2021-03-26 00:00:00
2021-03-27 00:00:00
2021-03-28 00:00:00
2021-03-29 00:00:00
2021-03-30 00:00:00
2021-03-31 00:00:00
2021-04-01 00:00:00
2021-04-02 00:00:00
2021-04-03 00:00:00
2021-04-04 00:00:00
2021-04-05 00:00:00
2021-04-06 00:00:00
2021-04-07 00:00:00
2021-04-08 00:00:00
2021-04-09 00:00:00
2021-04-10 00:00:00
2021-04-11 00:00:00
2021-04-12 00:00:00
2021-04-13 00:00:00
2021-04-14 00:00:00
2021-04-15 00:00:00
2021-04-16 00:00:00
2021-04-17 00:00:00
2021-04-18 00:00:00
2021-04-19 00:00:00
2021-04-20 00:00:00
2021-04-21 00:00:00
2021-04-22 00:00:00
2021-04-23 00:00:00
2021-04-24 00:00:00
2021-04-25 00:00:00
2021-04-26 00:00:00
2021-04-27 00:00:00
2021-04-28 00:00:00
2021-04-29 00:00:00
2021-04-30 00:00:00
2021-05-01 00:00:00
2021-05-02 00:00:00
2021-05-03 00:00:00
2021-05-04 00:00:00
2021-05-05 00:00:00
2021-05-06 00:00:00
2021-05-07 00:00:00
2021-05-08 00:00:00
2021-05-09 00:00:00
2021-05-10 00:00:00
2021-05-11 00:00:00
2021-05-12 00:00:00
2021-05-13 00:00:00
2021-05-14 00:00:00
2021-05-15 00:00:00
2021-05-16 00:00:00
2021-05-17 00:00:00
2021-05-18 00:00:00
2021-05-19 00:00:00
2021-05-20 00:00:00
2021-05-21 00:00:00
2021-05-22 00:00:00
2021-05-23 00:00:00
2021-05-24 00:00:00
2021-05-25 00:00:00
2021-05-26 00:00:00
2021-05-27 00:00:00
2021-05-28 00:00:00
2021-05-29 00:00:00
2021-05-30 00:00:00
2021-05-31 00:00:00
2021-06-01 00:00:00
2021-06-02 00:00:00
2021-06-03 00:00:00
2021-06-04 00:00:00
2021-06-05 00:00:00
2021-06-06 00:00:00
2021-06-07 00:00:00
2021-06-08 00:00:00
2021-06-09 00:00:00
2021-06-10 00:00:00
2021-06-11 00:00:00
2021-06-12 00:00:00
2021-06-13 00:00:00
2021-06-14 00:00:00
2021-06-15 00:00:00
2021-06-16 00:00:00
2021-06-17 00:00:00
2021-06-18 00:00:00
2021-06-19 00:00:00
2021-06-20 00:00:00
2021-06-21 00:00:00
2021-06-22 00:00:00
2021-06-23 00:00:00
2021-06-24 00:00:00
2021-06-25 00:00:00
2021-06-26 00:00:00
2021-06-27 00:00:00
2021-06-28 00:00:00
2021-06-29 00:00:00
2021-06-30 00:00:00
2021-07-01 00:00:00
2021-07-02 00:00:00
2021-07-03 00:00:00
2021-07-04 00:00:00
2021-07-05 00:00:00
2021-07-06 00:00:00
2021-07-07 00:00:00
2021-07-08 00:00:00
2021-07-09 00:00:00
2021-07-10 00:00:00
2021-07-11 00:00:00
2021-07-12 00:00:00
2021-07-13 00:00:00
2021-07-14 00:00:00
2021-07-15 00:00:00
2021-07-16 00:00:00
2021-07-17 00:00:00
2021-07-18 00:00:00
2021-07-19 00:00:00
2021-07-20 00:00:00
2021-07-21 00:00:00
2021-07-22 00:00:00
2021-07-23 00:00:00
2021-07-24 00:00:00
2021-07-25 00:00:00
2021-07-26 00:00:00
2021-07-27 00:00:00
2021-07-28 00:00:00
2021-07-29 00:00:00
2021-07-30 00:00:00
2021-07-31 00:00:00
2021-08-01 00:00:00
2021-08-02 00:00:00
2021-08-03 00:00:00
2021-08-04 00:00:00
2021-08-05 00:00:00
2021-08-06 00:00:00
2021-08-07 00:00:00
2021-08-08 00:00:00
2021-08-09 00:00:00
2021-08-10 00:00:00
2021-08-11 00:00:00
2021-08-12 00:00:00
2021-08-13 00:00:00
2021-08-14 00:00:00
2021-08-15 00:00:00
2021-08-16 00:00:00
2021-08-17 00:00:00
2021-08-18 00:00:00
2021-08-19 00:00:00
2021-08-20 00:00:00
2021-08-21 00:00:00
2021-08-22 00:00:00
2021-08-23 00:00:00
2021-08-24 00:00:00
2021-08-25 00:00:00
2021-08-26 00:00:00
2021-08-27 00:00:00
2021-08-28 00:00:00
2021-08-29 00:00:00
2021-08-30 00:00:00
2021-08-31 00:00:00
2021-09-01 00:00:00
2021-09-02 00:00:00
2021-09-03 00:00:00
2021-09-04 00:00:00
2021-09-05 00:00:00
2021-09-06 00:00:00
2021-09-07 00:00:00
2021-09-08 00:00:00
2021-09-09 00:00:00
2021-09-10 00:00:00
2021-09-11 00:00:00
2021-09-12 00:00:00
2021-09-13 00:00:00
2021-09-14 00:00:00
2021-09-15 00:00:00
2021-09-16 00:00:00
2021-09-17 00:00:00
2021-09-18 00:00:00
2021-09-19 00:00:00
2021-09-20 00:00:00
2021-09-21 00:00:00
2021-09-22 00:00:00
2021-09-23 00:00:00
2021-09-24 00:00:00
2021-09-25 00:00:00
2021-09-26 00:00:00
2021-09-27 00:00:00
2021-09-28 00:00:00
2021-09-29 00:00:00
2021-09-30 00:00:00
2021-10-01 00:00:00
2021-10-02 00:00:00
2021-10-03 00:00:00
2021-10-04 00:00:00
2021-10-05 00:00:00
2021-10-06 00:00:00
2021-10-07 00:00:00
2021-10-08 00:00:00
2021-10-09 00:00:00
2021-10-10 00:00:00
2021-10-11 00:00:00
2021-10-12 00:00:00
2021-10-13 00:00:00
2021-10-14 00:00:00
2021-10-15 00:00:00
2021-10-16 00:00:00
2021-10-17 00:00:00
2021-10-18 00:00:00
2021-10-19 00:00:00
2021-10-20 00:00:00
2021-10-21 00:00:00
2021-10-22 00:00:00
2021-10-23 00:00:00
2021-10-24 00:00:00
2021-10-25 00:00:00
2021-10-26 00:00:00
2021-10-27 00:00:00
2021-10-28 00:00:00
2021-10-29 00:00:00
2021-10-30 00:00:00
2021-10-31 00:00:00
2021-11-01 00:00:00
2021-11-02 00:00:00
2021-11-03 00:00:00
2021-11-04 00:00:00
2021-11-05 00:00:00
2021-11-06 00:00:00
2021-11-07 00:00:00
2021-11-08 00:00:00
2021-11-09 00:00:00
2021-11-10 00:00:00
2021-11-11 00:00:00
2021-11-12 00:00:00
2021-11-13 00:00:00
2021-11-14 00:00:00
2021-11-15 00:00:00
2021-11-16 00:00:00
2021-11-17 00:00:00
2021-11-18 00:00:00
2021-11-19 00:00:00
2021-11-20 00:00:00
2021-11-21 00:00:00
2021-11-22 00:00:00
2021-11-23 00:00:00
2021-11-24 00:00:00
2021-11-25 00:00:00
2021-11-26 00:00:00
2021-11-27 00:00:00
2021-11-28 00:00:00
2021-11-29 00:00:00
2021-11-30 00:00:00

In [6]:
## 문자형 포맷팅
days = date.strftime('%Y%m%d')
days

Index(['20210101', '20210102', '20210103', '20210104', '20210105', '20210106',
       '20210107', '20210108', '20210109', '20210110',
       ...
       '20211121', '20211122', '20211123', '20211124', '20211125', '20211126',
       '20211127', '20211128', '20211129', '20211130'],
      dtype='object', length=334)

### tqdm_notebook >> 진행사항을 볼 수 있는 함수

In [2]:
from tqdm import tqdm_notebook

In [7]:
title_list = []
point_list = []
cnt_list = []
day_list = []

for day in tqdm_notebook(days):
    url = 'https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date='+day
    res = req.get(url)
    soup = bs(res.text, 'lxml')
    result = soup.select('div.tit5 a')
    point = soup.select('td.point')
    
    for i in range(len(result)):
        title_list.append(result[i].text)
        point_list.append(point[i].text)
        cnt_list.append(i+1)
        day_list.append(day)

C:\Users\smhrd\AppData\Local\Temp/ipykernel_8208/3987712429.py:6: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for day in tqdm_notebook(days):

  0%|          | 0/334 [00:00<?, ?it/s]

In [30]:
dic = {'영화명' : title_list, '평점' : point_list, '순위' : cnt_list, '날짜' : day_list}
df = pd.DataFrame(dic)
df.set_index('순위', inplace = True)
df

                 영화명    평점        날짜
순위
1       가나의 혼인잔치: 언약  9.59  20210101
2               언플랜드  9.52  20210101
3      극장판 바이올렛 에버가든  9.49  20210101
4           부활: 그 증거  9.40  20210101
5            소년시절의 너  9.39  20210101
..               ...   ...       ...
28              애비규환  6.90  20211130
29           장르만 로맨스  6.66  20211130
30                강릉  6.38  20211130
31  베놈 2: 렛 데어 비 카니지  6.11  20211130
32              이터널스  5.57  20211130

[15332 rows x 3 columns]

In [ ]:
# 웹페이지안에 다른페이지를 넣을 때 iframe(src='#') 사용

In [26]:
url = 'https://www.naver.com/shoppingbox/shoppingboxnew/main.nhn?domain=Y'
res = req.get(url)
soup = bs(res.text, 'lxml')
menu = soup.select('a.link_mall')
menu_list=[]
for i in menu:
#    print(i.text)
    menu_list.append(i.text)

In [27]:
dic = {"메뉴":menu_list}
df1 = pd.DataFrame(dic)
df1

        메뉴
0       쿠팡
1      G마켓
2       옥션
3     11번가
4     이마트몰
5       티몬
6      위메프
7     신세계몰
8     올리브영
9      GS샵
10    롯데i몰
11  CJ온스타일