In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

### 웹를 제어해보자

In [3]:
# 셀레니움
!pip install selenium

Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\smhrd\anaconda3\lib\site-packages (from selenium) (1.26.7)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting sortedcontainers
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: cffi>=1.14 in c:\users\smhrd\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\smhrd\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\smhrd\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\smhrd\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\smhrd\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\smhrd\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\smhrd\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\smhrd\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\smhrd\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.16.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
Installing collected packages: sortedcontainers, sniffio, outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.12.0 outcome-1.1.0 selenium-4.1.0 sniffio-1.2.0 sortedcontainers-2.4.0 trio-0.19.0 trio-websocket-0.9.2 wsproto-1.0.0

In [2]:
# webdiver : 웹을 통제하기 위한 모듈
# Keys = 웹에 값을 입력하기 위한 모듈

from selenium import webdriver as wb
from selenium.webdriver.common.keys import Keys

In [16]:
driver = wb.Chrome()
url = 'https://www.naver.com/'
driver.get(url)

### 검색창 제어

In [18]:
# driver.find_element_by_css_selector - select_one
# driver.find_elements_by_css_selector - select
input_area = driver.find_element_by_css_selector('#query')

C:\Users\smhrd\AppData\Local\Temp/ipykernel_10744/3139040026.py:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  input_area = driver.find_element_by_css_selector('#query')

In [19]:
input_area.send_keys('박지성')

In [13]:
input_area.clear() # 비우기

### 엔터제어하기

In [15]:
input_area.send_keys(Keys.ENTER)

### 클릭제어하기

In [20]:
btn = driver.find_element_by_css_selector('#search_btn')

C:\Users\smhrd\AppData\Local\Temp/ipykernel_10744/1604512117.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  btn = driver.find_element_by_css_selector('#search_btn')

In [21]:
btn.click()

### 네이버 검색창에 광주날씨를 검색해보기

In [3]:
driver = wb.Chrome()
url = 'https://www.naver.com/'
driver.get(url)
input_area = driver.find_element_by_css_selector('#query')
input_area.send_keys('광주날씨')
input_area.send_keys(Keys.ENTER)

C:\Users\smhrd\AppData\Local\Temp/ipykernel_11888/3042673091.py:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  input_area = driver.find_element_by_css_selector('#query')

In [ ]:
# 다음 페이지에서 검색
input_area = driver.find_element_by_css_selector('#nx_query')
input_area.send_keys('창원날씨')
input_area.send_keys(Keys.ENTER)

In [11]:
soup = bs(driver.page_source,'lxml')
soup.select_one('div.temperature_text > strong').text

'현재 온도7°'

### 한솥도시락 수집 ( 더 보기 버튼 제어 )

In [35]:
# 시간을 제어하는 라이브러리
import time

In [224]:
url='https://www.hsd.co.kr/menu/menu_list'
driver = wb.Chrome()
driver.get(url)
time.sleep(0.5)

In [37]:
btn = driver.find_element_by_css_selector('a.c_05')

C:\Users\smhrd\AppData\Local\Temp/ipykernel_11888/3128964515.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  btn = driver.find_element_by_css_selector('a.c_05')

In [38]:
try:
    for i in range(6):
        btn.click()
        time.sleep(0.5) # 0.5초
except:
    print('완료')

완료

In [225]:
soup = bs(driver.page_source,'lxml')
menu = soup.select('h4.h.fz_03')
price =soup.select('div.item-price>strong')
menu_list = []
price_list = []
rank_list = []
for i in range(len(menu)):
    menu_list.append(menu[i].text)
    price_list.append(price[i].text)
    rank_list.append(i+1)

In [75]:
for i in range(len(price_list)):
    price_list[i] = int(price_list[i].replace(',',''))

In [78]:
dic = {'메뉴':menu_list,'가격':price_list,'번호':rank_list}
df = pd.DataFrame(dic)
df.set_index('번호', inplace=True)
df = df.sort_values(by=['가격'], ascending = False) 
# ascending 내림차순(False), 오름차순(True)

In [81]:
df.reset_index(drop=True, inplace = True)

In [85]:
df2 =pd.DataFrame(rank_list, columns=['번호'])
df2

      번호
0      1
1      2
2      3
3      4
4      5
..   ...
105  106
106  107
107  108
108  109
109  110

[110 rows x 1 columns]

In [89]:
df3 = pd.concat([df,df2], axis=1).set_index('번호')
df3
# df['번호'] = cnt_list

                  메뉴     가격
번호
1    매화(순살 고등어 간장구이)  10000
2         치킨 BOX(대)   10000
3         찹쌀탕수육박스(대)  10000
4       매화(치킨, 연어구이)  10000
5         치킨스테이크 스페셜  10000
..               ...    ...
106     한솥 감초볶음고추장소스    500
107             볶음김치    400
108            오징어젓갈    400
109               김치    300
110          무말랭이 무침    300

[110 rows x 2 columns]

### 유튜브 실습 : 스크롤 제어

In [94]:
driver = wb.Chrome()
url = 'https://www.youtube.com/'
driver.get(url)

#### 스크롤 제어하기
- body 태그

In [95]:
body = driver.find_element_by_css_selector('body')

C:\Users\smhrd\AppData\Local\Temp/ipykernel_11888/4155264750.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_css_selector('body')

In [171]:
for i in range(10):
    body.send_keys(Keys.PAGE_DOWN)